{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <ul class="list-group">
            {% for i in todos reversed %}
                {% if i.important %}
                    <li class="list-group-item">
                        <a href="{% url 'mainapp:todo' i.id %}" style="text-decoration: none; color: black;">
                            <b>{{ i.title }}</b>
                            - выполнено {{ i.datecompleted|date:'j M Y H:i' }}
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <a href="{% url 'mainapp:todo' i.id %}" style="text-decoration: none; color: black;">
                            {{ i.title }}
                            - выполнено {{ i.datecompleted|date:'j M Y H:i' }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock content %}