{% extends 'base.html' %}
{% load static %}

{% block content %}

    Completed todos <br><br>

    <ul>
        {% for i in todos %}
            {% if i.important %} 
                <li>
                    <a href="{% url 'mainapp:todo' i.id %}">
                        <b>{{ i.title }}</b>
                        {% if i.memo %}
                            - {{ i.memo }}
                        {% endif %}
                        {{ i.datecompleted|date:'j M Y H:i' }}
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'mainapp:todo' i.id %}">
                        {{ i.title }}
                        {% if i.memo %}
                            - {{ i.memo }}
                        {% endif %}
                        {{ i.datecompleted|date:'j M Y H:i' }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock content %}