<!-- Block content -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    Home <br><br>

    {% if user.is_authenticated %}

    Logged In as {{ user.username }} <br><br>

    <form action="{% url 'mainapp:logoutuser' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>

    {% else %}

    <a href="{% url 'mainapp:signupuser' %}">Sign Up</a>
    <a href="{% url 'mainapp:loginuser' %}">Login</a>

    {% endif %}

    {% for i in objects %}
        <div class="mx-auto d-block mt-5" style="text-align: center">{{ i.title }}</div>
        <div class="mx-auto d-block" style="text-align: center">{{ i.description }}</div>
        <a href="{{ i.url }}"><img src="{{ i.image }}" class="rounded mx-auto d-block"></img></a>
    {% endfor %}

{% endblock content %}