{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

<div class="container" style="width: 540px;">
    <span class="text-danger">{{ error }}</span><br><br>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Логин</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Пароль</label>
            {{ form.password }}
            <br>
            <label class="form-label" for="id_password2">Нужен аккаунт <a href="{% url 'mainapp:signupuser' %}">зарегистрируйтесь</a> </label>
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </form>
</div>

{% endblock content %}