{% extends 'base.html' %}
{% load static %}

{% block content %}

    Todo <br><br>

    {{ todo.title }}

    <br>

    {{ error }}

    <br>

    <form method="POST">
        {{ formtodo.as_p }}
        {% csrf_token %}
        <button type="submit">Save</button>
    </form>

    <form method="POST" action="{% url 'mainapp:completetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Complete</button>
    </form>

    <form method="POST" action="{% url 'mainapp:deletetodo' todo.id %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>

{% endblock content %}